[submodule "mergeplg"]
	path = mergeplg
	url = https://github.com/OpenSenseAction/mergeplg
[submodule "poligrain"]
	path = poligrain
	url = https://github.com/OpenSenseAction/poligrain
[submodule "pycomlink"]
	path = pycomlink
	url = https://github.com/pycomlink/pycomlink
